{{ ansible_managed | comment }}

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor except 127.0.0.0/8
    option                  redispatch
    retries                 {{ haproxy_retries }}
    timeout http-request    {{ haproxy_timeout_http_request }}
    timeout queue           {{ haproxy_timeout_check }}
    timeout connect         {{ haproxy_timeout_connect }}
    timeout client          {{ haproxy_timeout_client }}
    timeout server          {{ haproxy_timeout_server }}
    timeout http-keep-alive {{ haproxy_timeout_http_keep_alive }}
    timeout check           {{ haproxy_timeout_check }}
    maxconn                 {{ haproxy_maxconn }}

{% if haproxy_stats == true %}
listen stats
    bind                 {{ haproxy_stats_bind_addr }}:{{ haproxy_stats_port }}
    mode                 http
    stats                enable
    stats                uri /stats
    monitor-uri          /healthz
{% endif %}

#---------------------------------------------------------------------

# OpenShift API Server - Port 6443
frontend openshift-api-server
    bind *:6443
    default_backend openshift-api-server
    option tcplog

backend openshift-api-server
    balance source
{% if haproxy_bootstrap is defined %}
{% for b in haproxy_bootstrap %}
    server {{ b.name | lower }} {{ b.ip }}:6443 check
{% endfor %}
{% endif %}
{% for m in haproxy_masters %}
    server {{ m.name | lower }} {{ m.ipaddr }}:6443 check
{% endfor %}

# Port 22623 for the Machine Config Server
frontend machine-config-server
    bind *:22623
    default_backend machine-config-server
    option tcplog

backend machine-config-server
    balance source
{% if haproxy_bootstrap is defined %}
{% for b in haproxy_bootstrap %}
    server {{ b.name | lower }} {{ b.ip }}:22623 check
{% endfor %}
{% endif %}
{% for m in haproxy_masters %}
    server {{ m.name | lower }} {{ m.ip }}:22623 check
{% endfor %}

# Port 80 for HTTP traffic
frontend ingress-http
    bind *:80
    default_backend ingress-http
    option tcplog

backend ingress-http
    balance source
{% if haproxy_workers is defined %}
{% for w in haproxy_workers %}
    server {{ w.name | lower }}-http-router{{ loop.index0 }} {{ w.ip }}:80 check
{% endfor %}
{% else %}
{% for m in haproxy_masters %}
    server {{ m.name | lower }}-http-router{{ loop.index0 }} {{ m.ip }}:80 check
{% endfor %}
{% endif %}

# Port 443 for HTTPS traffic
frontend ingress-https
    bind *:443
    default_backend ingress-https
    option tcplog

backend ingress-https
    balance source
{% if haproxy_workers is defined %}
{% for w in haproxy_workers %}
    server {{ w.name | lower }}-https-router{{ loop.index0 }} {{ w.ip }}:443 check
{% endfor %}
{% else %}
{% for m in haproxy_masters %}
    server {{ m.name | lower }}-https-router{{ loop.index0 }} {{ m.ip }}:443 check
{% endfor %}
{% endif %}

#---------------------------------------------------------------------
