#Fedora40 does not include netplan, so we need to use the old network config format
network:
  version: 1
  config:
    - type: physical
      name: eth0
      mac_address: '00:11:22:33:44:55'
      subnets:
        - type: static
          address: 192.168.23.14/24
          gateway: 192.168.23.1
          dns_nameservers:
            - 8.8.4.4
            - 8.8.8.8