authoritative;
ddns-update-style interim;
default-lease-time 14400;
max-lease-time 14400;
allow booting;
allow bootp;

    option routers                  {{ dhcp_gateway }};
    option broadcast-address        {{ dhcp_broadcast }};
    option subnet-mask              {{ dhcp_netmask }};
{% if dhcp.dns is defined and dhcp.dns != "" %}
    option domain-name-servers      {{ dhcp.dns }};
{% else %}
    option domain-name-servers      {{ dhcp_helper_ip }};
{% endif %}
{% if dhcp.ntp is defined and dhcp.ntp != "" %}
    option ntp-servers              {{ dhcp.ntp }};
{% endif %}
    option domain-name              "{{ dhcp_domain | lower }}";
    option domain-search            "{{ dhcp_domain | lower }}", "{{ dhcp_domain | lower }}";

    subnet {{ dhcp_ipid }} netmask {{ dhcp_netmask }} {
    interface {{ dhcp_helper_networkifacename }};
        pool {
            range {{ dhcp_poolstart }} {{ dhcp_poolend }};
        # Static entries
{% if dhcp_bootstrap is defined %}
{% for b in dhcp_bootstrap %}
        host {{ b.name | lower }} { hardware ethernet {{ b.macaddr }}; fixed-address {{ b.ip }}; }
{% endfor %}
{% endif %}
{% for m in dhcp_masters %}
        host {{ m.name | lower }} { hardware ethernet {{ m.macaddr }}; fixed-address {{ m.ip }}; }
{% endfor %}
{% if dhcp_workers is defined %}
{% for w in dhcp_workers %}
        host {{ w.name | lower }} { hardware ethernet {{ w.macaddr }}; fixed-address {{ w.ip }}; }
{% endfor %}
{% endif %}
{% if other is defined %}
{% for o in other %}
        host {{ o.name }} { hardware ethernet {{ o.macaddr }}; fixed-address {{ o.ip }}; }
{% endfor %}
{% endif %}
        # this will not give out addresses to hosts not listed above
        deny unknown-clients;

        # this is PXE specific
{% if ppc64le is sameas true %}
        filename "boot/grub2/powerpc-ieee1275/core.elf";
{% else %}
        filename "pxelinux.0";
{% endif %}

        next-server {{ dhcp_helper_ip }};
        }
}
