$TTL 1W
@	IN	SOA	ns1.{{ bind_domain | lower }}.	root (
			{{ serialnumber }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
	IN	NS	ns1.{{ bind_domain | lower }}.
;
; syntax is "last octet" and the host must have fqdn with trailing dot
{{ bind_helper_ip.split('.')[3] }}       IN      PTR     helper.{{ bind_domain | lower }}.

{% for m in bind_masters %}
{{ m.ip.split('.')[3] }}	IN	PTR	{{ m.name | lower }}.{{ bind_domain | lower }}.
{% endfor %}
;
{% if bind_bootstrap is defined %}
{% for b in bind_bootstrap %}
{{ b.ip.split('.')[3] }}	IN	PTR	{{ b.name | lower  }}.{{ bind_domain | lower }}.
{% endfor %}
;
{% endif %}
{% if dns.lb_ipaddr is not defined or dns.lb_ipaddr == bind_helper_ip %}
{{ bind_helper_ip.split('.')[3] }}	IN	PTR	api.{{ bind_domain | lower }}.
{{ bind_helper_ip.split('.')[3] }}	IN	PTR	api-int.{{ bind_domain | lower }}.
{% endif %}
;
{% if bind_workers is defined %}
{% for w in bind_workers %}
{{ w.ip.split('.')[3] }}	IN	PTR	{{ w.name | lower }}.{{ bind_domain | lower }}.
{% endfor %}
{% endif %}
;
{% if bind_other is defined %}
{% for o in bind_other %}
{{ o.ip.split('.')[3] }}	IN	PTR	{{ o.name }}.{{ dns.clusterid }}.{{ dns.domain }}.
{% endfor %}
;
{% endif %}
;EOF
